/* imported google font */
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

/* general stylings */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Cardo", serif;
  color: #333;
}

body {
  background-color: #fff;
  padding: 0.3125rem;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 0.625rem 0 0.625rem;
  text-align: center;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 2.75rem;
}

/* flex box and heading */

.container {
  padding: 1rem;
  position: relative;
  width: 50%;
  height: 100vh;
  margin: auto;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.heading {
  padding-top: 5rem;
}

header {
  cursor: pointer;
  justify-content: space-between;
}

/* buttons stylings */
.btn {
  font-size: 1.25rem;
  padding: 1rem 0;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(212, 175, 55), rgb(255, 165, 0));
  border-radius: 0.25rem;
}

.btn:hover {
  cursor: pointer;
  height: 2.5rem;
}

#highscores-btn {
  background: linear-gradient(180deg, rgb(0, 255, 255), rgb(15, 82, 186));
}

/* Form */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 13rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: linear-gradient(180deg, rgb(0, 255, 255), rgb(15, 82, 186));
  outline: none;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

input::placeholder {
  color: #fff;
  font-size: 1rem;
}

@media only screen and (min-width: 900px) {
  .container {
    padding: 1rem;
    position: relative;
    width: 60%;
    height: 100vh;
    margin: auto;
  }
}

